SECRET_KEY=your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost

# For slack bot
SLACK_CHANNEL = slack_channel_name
SLACK_BOT_TOKEN = xxx-xxxxxxxxxxxxxxxxxxxxxx-xxxxxxxxxxx-xxxxxxxxxxxxxxxxxxx
